doctype html
html
  head
    meta(charset='utf-8')
    style.
      body {
      margin: 0;
      font-family: sans-serif;
      }
      button {
      background: palevioletred;
      border-radius: 3px;
      border: 2px solid palevioletred;
      color: white;
      margin: 0.5em 1em;
      padding: 0.25em 1em;
      }
  body
    h2 Hello, #{username}.
    p Please confirm your email address by clicking the button below:
    a(href=`${url}/auth/user/verify${`?ticket=${ticket}` + new_email ? `&new_email=${new_email}` : ''}`)
      button Confirm email address
    p
      | Thanks,
      br
      | The Team
